<h2>Editing Project: <%= @project.title %></h2>

<form class="rename_proj" action="/projects" method="post">
  <input name="_method" type="hidden" value="update">
  <label for="title">Rename Project:</label>
  <input type="text" name="title">
  <button type="submit" name="button">Rename</button>
</form>

<% volunteers = @project.volunteers %>
<% if volunteers.any? %>
<ul>
  <% volunteers.each do |volunteer| %>
  <li>
    <a class="volunteer_link" href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a>

    <form action="/projects/<%= @project.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" name="button">Delete</button>
    </form>
    <br>
  </li>
<% end %>
</ul>
<% else %>
<p>There are currently no volunteers to display</p>
<% end %>
<a href="/projects/<%= @project.id  %>/add">Add volunteers!</a><br><br>

<form action="/projects/<%= @project.id %>/edit" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" name="button">Delete Project</button>
</form> <br>

<a href="/projects">Back</a>
